
.search{
    width:92%;
    margin:20px auto;
    border-radius: 5px;
}

.search ion-input{
    padding:5px;
}

*{
    margin:0;
    padding:0;
    font-family: Ubuntu;

}

.toolbar-title{
    color:#ffffff;
    font-size: 20px;
    font-weight: 500;
}

.toolbar-background{
    background: #6a5085;
}

.toolbar{
    height:60px;
}

.datadic h5{
    font-family: ubuntu;
    color: #807b7b;
}

.datadic h6{
    font-family: ubuntu;
    color: #807b7b;
}